html,
body,
canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    display: flex;
}

canvas {
    object-fit: contain;
}

img {
    display: none;
}